---
---

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$brand-color: #70C7BA;
$theme-primary: #70C7BA;
$theme-dark: #222;

// Import partials
@import
        "mixins",
        "base"
;
