<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">2.5+ million views on X</h2>
                <hr class="light">
                <p class="text-faded">From a former Microsoft Certified Professional (now Cypherpunk).</p>
               
                
                
                <!-- Simple link
                <a href="https://kas.coffee/cliffc2" class="btn btn-default btn-xl">Buy me a coffee!</a>
                 to your page -->
            </div>
        </div>
    </div>
</section>
