<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">2.5+ million views on X.com</h2>
                <hr class="light">
                <p class="text-faded">Former Microsoft Certified Professional (Cypherpunk). NFA DYOR </p>
               
                 <a href="https://grok.com/?prompt=Your%20question%20here" target="_blank" class="grok-button">Ask Grok anything</a>
                
                <!-- Simple link
                <a href="https://kas.coffee/cliffc2" class="btn btn-default btn-xl">Buy me a coffee!</a>
                 to your page -->
            </div>
        </div>
    </div>
</section>
