<meta name="kaspa:wallet" content="kaspa:qqnmf9xs5yglwtkkykjayn2nxqz9ykrlry0vu4dlnm5akea2mjcyyn3t940cv" />
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The best tech wins!</h2>
                <hr class="light">
                <p class="text-faded">Get the timeline to post on your room. Everything you need to get the crypto source, free to download.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                <h2 class="section-heading">Kaspa donation</h2>
                <hr class="light">
                <p class="text-faded">Donate and pay it forward.</p>
                <a href="https://kas.coffee/cliffc2" class="btn btn-default btn-xl">Buy me a coffee!</a>
                <!-- Simple link to your page -->
                <a href="https://kas.coffee/cliffc2">
                  Support me with Kaspa
                </a>

                <!-- Button with styling -->
                <a href="https://kas.coffee/cliffc2"
                   class="kas-coffee-button">
                  ☕ Buy me a coffee
                </a>
            </div>
        </div>
    </div>
</section>
