<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pay it forward!</h2>
                <hr class="light">
                <p class="text-faded">"Bitcoin and the Rise of the Cypherpunks" (a visual/infographic/chart tracing cypherpunk history, key cryptographic milestones, and innovations leading to Bitcoin) — was created by cliffc2
 (or @drcliffordchoi
) on X (formerly Twitter) and other platforms.

</p>
               
                <a href="https://kas.coffee/cliffc2" class="btn btn-default btn-xl">Buy me a coffee!</a>
                <!-- Simple link to your page -->
                

            </div>
        </div>
    </div>
</section>
