<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for your support!</h2>
                <hr class="primary">
                <p></p>
               <p>Here's my Flowcrypt public key (Long ID: C0EBA8FBACA7A38B) <a href="https://flowcrypt.com/pub/drcliffchoi" target="_blank" rel="noopener">
                Send me a private message. <alt="My FlowCrypt key" style="max-width:100%;height:auto;">
                </a></p>
    
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://x.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
     <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
