<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for your love and support!</h2>
                <hr class="primary">
                <p>For speaking engagements at schools, universities, VCs, or family offices <br>
                    <a href="https://flowcrypt.com/me/drcliffchoi" target="_blank" rel="noopener">
                Send me a private message. Here's my Flowcrypt public key (Long ID: C0EBA8FBACA7A38B) <alt="My FlowCrypt key" style="max-width:100%;height:auto;">
                </a></p>
                <br>
                <p>"“Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.”
― Steve Jobs</p><br>
                <p>If you get an email from the REAL cliffc2 (polymath), make sure you confirm this!</p>
                <p>PGP public key - 4AB7 A7A7 A7AC 63A0 9ED9 9599 C0EB A8FB ACA7 A38B</p>

    
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">  <!-- Widened for two items -->
          <div class="row">
            <div class="col-xs-6 text-center">
              <img src="{{ site.baseurl }}/img/portfolio/cliffc2-btc-lightning.jpeg" alt="BTC Wallet of Satoshi Lightning QR code" style="max-width: 120px; height: auto;">
              <p style="font-size: 0.8em; margin-top: 5px;">BTC Lightning</p>
            </div>
            <div class="col-xs-6 text-center">
              <img src="{{ site.baseurl }}/img/portfolio/cliffc2-kas.jpeg" alt="Kaspa QR code" style="max-width: 120px; height: auto;">
              <p style="font-size: 0.8em; margin-top: 5px;">Kaspa</p>
            </div>
      </div>
</div>
    </div>
</section>
