<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <!-- EDUCATION -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/sSRIqwve0CI" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/HKUST1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Continuing Education</div>
                            <div class="project-name">Knowledge Protects</div>
                        </div>
                    </div>
                </a>
            </div>

            <!--  -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://cliffc.substack.com/" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/medic1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Medical Research & Rehabilitation</div>
                            <div class="project-name">"Are You okay?"</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/Xvd5OcFipVs" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/REDSTAMP$5-1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">US History Lesson</div>
                            <div class="project-name">JFK's 1963 Red stamp</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- -->
            <div class="col-lg-4 col-sm-6">
                 <a href="https://youtu.be/MGN9B30GxVU" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/MAKER1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Q: "May I see your watch?"</div>
                            <div class="project-name">A: __________</div>
                        </div>
                    </div>
                </a>
            </div>

            <!--  -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.semanticscholar.org/author/Yonatan-Sompolinsky/2911417" class="portfolio-box">   <!-- ← create this page in Jekyll -->
                    <img src="img/portfolio/yonatan1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">How to scale Bitcoin</div>
                            <div class="project-name">Dr. Yonatan Sompolinsky (Cypherpunk)</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- -->
            <div class="col-lg-4 col-sm-6">
                    <a href="https://kaspa.org/" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/M134.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Kaspa</div>
                            <div class="project-name">10 BPS (100 BPS)</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
