<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <!-- EDUCATION -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://soundcloud.com/cliff-choi-234379411/thieves-in-the-night-dj-cliffrock-remix-92bpm-12?si=b0ee1a797e3042e8a505a416a3951397&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/HKUST.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Education</div>
                            <div class="project-name">Knowledge Protects</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 7. -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://cliffc.substack.com/" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/MEDIC.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Medical Research & Rehabilitation</div>
                            <div class="project-name">"Are You okay?"</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/Xvd5OcFipVs" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/REDSTAMP$5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">US History Lesson</div>
                            <div class="project-name">JFK's 1963 Red stamped fiver</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 4. AMIR TAAKI -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://dark.fi/" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/AMIRTAAKI.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">DarkFI</div>
                            <div class="project-name">Protection (No Privacy)</div>
                        </div>
                    </div>
                </a>
            </div>

            <!--  -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.semanticscholar.org/author/Yonatan-Sompolinsky/2911417" class="portfolio-box">   <!-- ← create this page in Jekyll -->
                    <img src="img/portfolio/yonatan.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">How to scale POW</div>
                            <div class="project-name">Dr. Yonatan Sompolinsky (Cypherpunk).</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/MGN9B30GxVU" target="_blank" rel="noopener" class="portfolio-box">
                    <img src="img/portfolio/MAKER.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Q: "May I see your watch?"</div>
                            <div class="project-name">A: __________</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
