<aside class="bg-dark" 
       style="background-image: url('/img/KASPA2025C400.jpg');
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              min-height: 100vh;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;">
    
    <div class="container text-center">
        <div class="call-to-action">
            <!-- Add your content here (text, buttons, etc.) -->
        </div>
    </div>
</aside>
