<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            
<div class="col-lg-8 col-lg-offset-2 text-center">
    <div style="position: relative; width: 100%; max-width: 1024px; margin: 2rem auto; padding-top: 56.25%; overflow: hidden;">
        <iframe 
            src="https://www.youtube.com/embed/Ta9j5tQu6Do"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="YouTube video">
        </iframe>
    </div>
</div>

            <!-- Text content - exactly like your reference -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <h2 class="section-heading">"Take $5 dollars out of your wallet <br> and hand me your wallet!" - NYC streets</h2>
                <hr class="light">
                
            </div>

            

        </div>
    </div>
</section>
